__pycache__/

logs/*
!logs/README.md

tmp/*
!tmp/README.md

static/uploads/*
!static/uploads/README.md

# static/Classes/*
# !static/Classes/Mayday

static/Classes/class0/*
!static/Classes/class0/README.md

Spring 2024 AI Final Project Spec.pdf
dlib-19.22.99-cp310-cp310-win_amd64.whl
insightface-0.7.3-cp310-cp310-win_amd64.whl
test_import.py
test.py
test2.py
app2.py
rollcall.py

Link.txt